body {
  background-color: #F2F2F2;
  color: #333;
}
h1 {
  color: #00C896;
}
.accordion-button {
  background-color: #00C896;
  color: white;
}
.accordion-button:not(.collapsed) {
  background-color: #00A97D;
}
.accordion-body {
  background-color: white;
}
mark {
  background-color: yellow;
}
